
R Language/.RData

R Language/.Rhistory

R Language/.Rproj.user/DD0AEEB/build_options

R Language/.Rproj.user/DD0AEEB/pcs/files-pane.pper

R Language/.Rproj.user/DD0AEEB/pcs/source-pane.pper

R Language/.Rproj.user/DD0AEEB/pcs/windowlayoutstate.pper

R Language/.Rproj.user/DD0AEEB/pcs/workbench-pane.pper

R Language/.Rproj.user/DD0AEEB/rmd-outputs

R Language/.Rproj.user/DD0AEEB/saved_source_markers

R Language/.Rproj.user/DD0AEEB/sources/per/t/8149A59A

R Language/.Rproj.user/DD0AEEB/sources/per/t/8149A59A-contents

R Language/.Rproj.user/DD0AEEB/sources/prop/EB7CF0DF

R Language/.Rproj.user/DD0AEEB/sources/prop/INDEX

R Language/.Rproj.user/shared/notebooks/patch-chunk-names

R Language/.Rproj.user/shared/notebooks/paths
